In [9]:
lista=[]
print(len(lista))

0

In [12]:
lista = [1,2,3]
print(lista)
lista.append(4) #Adiciona
print(lista)
tupla = (1,2,3)

[1, 2, 3]
[1, 2, 3, 4]

### Conjunto - set()

set= **{ 1, 2, 3, 4}**

In [13]:
s= set()
type(s)

set

In [14]:
s= set()
s.add(10)
s.add(20)
s.add(30)
s.add(10)
print(s)

{10, 20, 30}

In [15]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
type(s1)

set

In [16]:
#União
uniao=s1.union(s2)
print(uniao)

{1, 2, 3, 4, 5, 6}

In [18]:
inter= s1.intersection(s2)
print(inter)

{3, 4}

In [20]:
diff= s1.difference(s2)
print(diff)

{1, 2}

### Dicionários

In [24]:
d = {'marcos':28, 'maria':20, 'pedro':18}

In [25]:
print(d)

{'marcos': 28, 'maria': 20, 'pedro': 18}

In [26]:
print(d['marcos'])

28

In [27]:
d['nathan']=29

In [28]:
print(d)

{'marcos': 28, 'maria': 20, 'pedro': 18, 'nathan': 29}

In [35]:
print(d.items())
print(d.keys())
print(d.values())
lista = list(d.values())
print(lista)
print('nathan' in d)

dict_items([('marcos', 28), ('maria', 20), ('pedro', 18), ('nathan', 29)])
dict_keys(['marcos', 'maria', 'pedro', 'nathan'])
dict_values([28, 20, 18, 29])
[28, 20, 18, 29]
True