In [1]:
import pandas as pd

In [4]:
cop = pd.read_csv("copacabana.csv", delimiter=';')

In [5]:
cop['Quartos']>5

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1645    False
1646    False
1647    False
1648    False
1649    False
1650    False
1651    False
1652    False
1653    False
1654    False
1655    False
1656    False
1657    False
1658    False
1659    False
1660    False
1661    False
1662    False
1663    False
1664    False
1665    False
1666    False
1667    False
1668    False
1669    False
1670    False
1671    False
1672    False
1673    False
1674    False
Name: Quartos, Length: 1675, dtype: bool

In [6]:
cop.loc[cop['Quartos']==6]

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
748,1,6.0,2.0,2500,35,743,1524600,1275377,1399989,4100,360,58.0,1,668,4491,686456.25,7458801.05

In [7]:
cop['AreaConstruida'] * cop['VAL_UNIT']

0        416005
1        460009
2        720012
3        990000
4        909976
5        790024
6        670015
7        249990
8        319990
9        299997
10       390000
11       299992
12       410000
13       749990
14       625022
15       619972
16       309986
17       340032
18       760000
19       870020
20       250005
21       340005
22       210000
23       139995
24       270000
25        90000
26       350010
27       450022
28       329975
29       210033
         ...
1645     792984
1646    1393956
1647     810027
1648    1800022
1649     886990
1650     969992
1651     499968
1652     560032
1653     284984
1654    2199998
1655    2179944
1656     300011
1657     180000
1658     280016
1659     229992
1660     342012
1661     699996
1662     710024
1663    1320000
1664     300024
1665     700024
1666     390000
1667     434980
1668     219996
1669     639975
1670     479940
1671     402040
1672     600020
1673     766705
1674     683871
Length: 1675, dtype: int64

In [8]:
cop["TOTAL"] = cop['AreaConstruida'] * cop['VAL_UNIT']

In [9]:
cop["TOTAL"].head()

0    416005
1    460009
2    720012
3    990000
4    909976
Name: TOTAL, dtype: int64

In [10]:
cop["TOTAL"].tail()

1670    479940
1671    402040
1672    600020
1673    766705
1674    683871
Name: TOTAL, dtype: int64

In [11]:
import pydataset

In [12]:
titanic = pydataset.data('titanic')

In [13]:
titanic.columns

Index(['class', 'age', 'sex', 'survived'], dtype='object')

In [14]:
titanic['class'].describe()

count          1316
unique            3
top       3rd class
freq            706
Name: class, dtype: object

In [15]:
titanic['class'].nbytes

10528

In [19]:
%%time
titanic['class'] == '3rd class'

CPU times: user 1.49 ms, sys: 1.91 ms, total: 3.41 ms
Wall time: 14.5 ms

1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
32      False
33      False
34      False
35      False
36      False
37      False
38      False
39      False
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False
48      False
49      False
50      False
51      False
52      False
53      False
54      False
55      False
56      False
57      False
58      False
59      False
60      False
61      False
62      False
63      False
64      False
65      False
66      False
67      False
68      False
69      False
70      False
71      False
72      False
73      False
74      False
75      False
76      False
77      False
78      False
79      False
80      False
81      False
82      False
83      False
84      False
85      False
        ...
1232     True
1233     True
1234     True
1235     True
1236     True
1237     True
1238     True
1239     True
1240     True
1241     True
1242     True
1243     True
1244     True
1245     True
1246     True
1247     True
1248     True
1249     True
1250     True
1251     True
1252     True
1253     True
1254     True
1255     True
1256     True
1257     True
1258     True
1259     True
1260     True
1261     True
1262     True
1263     True
1264     True
1265     True
1266     True
1267     True
1268     True
1269     True
1270     True
1271     True
1272     True
1273     True
1274     True
1275     True
1276     True
1277     True
1278     True
1279     True
1280     True
1281     True
1282     True
1283     True
1284     True
1285     True
1286     True
1287     True
1288     True
1289     True
1290     True
1291     True
1292     True
1293     True
1294     True
1295     True
1296     True
1297     True
1298     True
1299     True
1300     True
1301     True
1302     True
1303     True
1304     True
1305     True
1306     True
1307     True
1308     True
1309     True
1310     True
1311     True
1312     True
1313     True
1314     True
1315     True
1316     True
Name: class, Length: 1316, dtype: bool

In [18]:
titanic['class'] = titanic['class'].astype('category')